{% extends "bootstrap/base.html" %}
{%- block metas %}
    <meta name="author" content="Salil Panikkaveettil">
    <meta http-equiv="content-language" content="en-in">
{%- endblock%}

{% block navbar %}
    <nav class="navbar navbar-default container" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">youtube playlist creator</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('.index')}}">home</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}
