{% extends "base.html" %}
{% block title %}Youtube playlist creator{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}
{% block html_attribs %} ng-app="youtubeApp"{% endblock %}
{% block body_attribs %} ng-controller="VideoListCtrl"{% endblock %}

{% block content %}
    <div class="container">
        <div id="login-container" class="pre-auth">This application requires access to your YouTube account.
            Please <a href="#" id="login-link">authorize</a> to continue.
        </div>
        <div id="buttons" class="post-auth">
        </div>
        <ul>
            <p>[[videos.length]]</p>
            <li ng-repeat="video in videos">
                <a href="https://www.youtube.com/watch?v=[[video.id]]">[[video.title]]</a>

                <p>[[video.description]]</p>
                <img ng-src="[[video.image]]"/>
            </li>
        </ul>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="../static/js/controllers.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/playlist_update.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
    <script src="../static/js/main.js"></script>
    <script>
    </script>
{% endblock %}